<div id="TaskFirstSolution">
    <form method="get">
        <p>
            <label font-size:20px><strong>Сам массив:</strong><br /> @ViewBag.mass</label><br/>
            <label><strong>Среднее арифмитическое положительных элементов массива:</strong></label>
            <label>@ViewBag.Sred</label>
        </p>
    </form>
</div>

