<div id="TaskSecondSolution">
    <form method="post">
        <p>
            <label>Введите текст:</label>
            <input type="text" name="InputText" value="@ViewBag.TExt"/>
        </p>
        <p>
            <input id="countBtn" type="submit" value="Вычислить" />
        </p>
        <p>
            <label>Количество "+" и "-":</label>
            <label>@ViewBag.Quantity</label>
        </p>
    </form>
</div>

